
<header>
 <p>Find The Affrodable Price Mobile Under Your Budget.</p>
 <div  class="moving-img">
    <img src="./assets/promax13.jpg" alt="promax13">
    <img src="./assets/smgalaxys20.jpg" alt="samsung-galaxy">
    <img src="./assets/iphone7.jpg" alt="iphone7">
    <img src="./assets/pixel7a.jpg" alt="iphone7">
    <img src="./assets/motoe6.jpg" alt="iphone7">
 </div>

</header>

<nav>
<ul>
    <li><a href="">Iphone</a></li>
    <li><a href="">Samsung</a></li>
    <li><a href="">Pixel</a></li>
    <li><a href="">Motorola</a></li>
</ul>
</nav>
<h2>Trending New Release</h2>
<h4>Apple iPhone 15 release date September 12, 2023</h4>
<section>
    <div class="trending">

        <div class="trend">
            <img src="./assets/iphone15pro.jpg" alt="Iphone15-pro">
        </div>
            <div class="trend-content">
                <span class="price">Starting price for Iphone-15 pro <span style="background-color: yellow;">$999 for 128GB</span> storage and 6GB RAM.<br>
                Price for <span style="background-color: yellow;">256GB storage is $1099</span> and 6GB RAM.<br>
                Price for <span style="background-color: yellow;">512GB storage is $1299</span> and 6GB RAM.<br>
                Price for <span style="background-color: yellow;">1TB storage is $1499</span> and 6GB RAM.<br>
                The device is available in four different color.</span>
                <ul>
                    <li>
                        6.1″ Super Retina XDR displayfootnote, ProMotion technology, Always-On display
                    </li>
                  
                    <li>
                        Pro camera system - 48MP Main | Ultra Wide | Telephoto Super-high-resolution photos (24MP and 48MP) Next-generation portraits with Focus and Depth Control
                    </li>
                    <li>
                        Up to 3x optical zoom option
                    </li>
                    <li>
                        A17 Pro chip, 6-core CPU, 6-core GPU, 16-core Neural Engine
                    </li>
                    <li>
                        Emergency SOS via satellitefootnote, Crash Detectionfootnote, Roadside Assistance via satellitefootnote³
                    </li>
                    <li>
                        Battery life: Up to 23 hours video playbackfootnote⁵
                    </li>
                    <li>
                        USB-C Supports USB 3 for up to 20x faster transfersfootnote⁷
                    </li>
                    <li>
                        Face ID
                    </li>
                    <li style="padding: 4px; border-radius: 1px; background-color: rgba(59, 27, 129, 0.859); text-align: center; 
                    color: white; font-weight: bold; font-size: large;">
                       <a style="color: white;" href="https://www.apple.com/shop/buy-iphone/iphone-15-pro" target="_blank">Buy</a>
                    </li>
                </ul> 
        
        </div>
        <!--
  <div class="color-img">
            <img src="./assets/iphonecolor.jpg" alt="iphone15 color">
        </div>
        -->
      
       
    </div>

    <div class="trending">

        <div class="trend">
            <img src="./assets/promax15.jpg" alt="Iphone-15 pro max">
        </div>
            <div class="trend-content"> 
                <span class="price">Starting price for Iphone-15 pro max is <span style="background-color: yellow;">$1199 for 256GB</span> storage and 6GB RAM.<br>
                Price for <span style="background-color: yellow;">512GB storage is $1399</span> and 6GB RAM.<br>
                Price for <span style="background-color: yellow;">1TB storage is $1599</span> and 6GB RAM.<br>
                The device is available in four different color.</span>
                <ul>
                    <li>
                        6.7″ Super Retina XDR displayfootnote, ProMotion technology, Always-On display
                    </li>
                   
                    <li>
                        Pro camera system - 48MP Main | Ultra Wide | Telephoto Super-high-resolution photos (24MP and 48MP) Next-generation portraits with Focus and Depth Control
                    </li>
                    <li>
                        Up to 5x optical zoom option
                    </li>
                    <li>
                        A17 Pro chip, 6-core CPU, 6-core GPU, 16-core Neural Engine
                    </li>
                    <li>
                        Emergency SOS via satellitefootnote, Crash Detectionfootnote, Roadside Assistance via satellitefootnote³
                    </li>
                    <li>
                        Battery life: Up to 29 hours video playbackfootnote⁵
                    </li>
                    <li>
                        USB-C Supports USB 3 for up to 20x faster transfersfootnote⁷
                    </li>
                    <li>
                        Face ID
                    </li>
                    <li style="padding: 4px; border-radius: 1px; background-color: rgba(59, 27, 129, 0.859); text-align: center; 
                    color: white; font-weight: bold; font-size: large;">
                       <a style="color: white;" href="https://www.apple.com/shop/buy-iphone/iphone-15-pro" target="_blank">Buy</a>
                    </li>
                </ul>    
        </div>
       
    </div>

    <div class="trending">

        <div class="trend">
            <img src="./assets/iphone15.jpg" alt="Iphone-15">
        </div>
            <div class="trend-content">
                <span class="price">Starting price for Iphone-15 is <span style="background-color: yellow;">$799 for 128GB</span> storage and 6GB RAM.<br>
                Price for <span style="background-color: yellow;">256GB storage is $899</span> and 6GB RAM.<br>
                Price for <span style="background-color: yellow;">512GB storage is $1099</span> and 6GB RAM.<br>
                The device is available in five different color.</span>
                <ul>
                    <li>
                     6.1″ Super Retina XDR displayfootnote
                    </li>
                    <li>
                        Pro camera system - 48MP Main | Ultra Wide | Telephoto Super-high-resolution photos (24MP and 48MP) Next-generation portraits with Focus and Depth Control
                    </li>
                    <li>
                        Up to 2x optical zoom range
                    </li>
                    <li>
                        A16 Bionic Chip, 6-core CPU, 6-core GPU, 16-core Neural Engine
                    </li>
                    <li>
                        Emergency SOS via satellitefootnote, Crash Detectionfootnote, Roadside Assistance via satellitefootnote³
                    </li>
                    <li>
                        Battery life: Up to 20 hours video playbackfootnote⁵
                    </li>
                    <li>
                        USB-C Supports USB 2
                    </li>
                    <li>
                        Face ID
                    </li>
                    <li style="padding: 4px; border-radius: 1px; background-color: rgba(59, 27, 129, 0.859); text-align: center; 
                    color: white; font-weight: bold; font-size: large;">
                       <a style="color: white;" href="https://www.apple.com/shop/buy-iphone/iphone-15" target="_blank">Buy</a>
                    </li>
                </ul> 
        </div>
       
    </div>
</section>
<hr>
<section class="choicebrand">
    <div style="text-align: center; font-size: clamp(2em, 2vw, 3em); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <strong>List Of Mobile Sold Based On People Choice And Model.</strong>
    </div>



  <div class="app-container">
     <!-- Company Details -->
     <div class="mob-style" *ngIf="data">
    <h1>1. {{ data.company.name }}</h1>
    <p>Famous for: {{ data.company.famousFor }} and was founded in: {{ data.company.founded }},
    {{ data.company.founders.join(', ') }} are the founder of Apple Inc company.</p>
  </div>
  
  <!-- Products -->
  <div  class="mob-style" *ngIf="data">
    <div *ngFor="let product of data.products">
      <h3>{{ product.type }}</h3>
      <div *ngFor="let model of product.models">
        <p>{{ model.name }} </p>    
        <p>Details: {{ model.details }}</p>
        <img [src]="model.image" alt="{{ model.name }}" >&nbsp;&nbsp;
        <iframe width="560" height="315" [src]="getVideoUrl(model.video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <!-- Reviews -->
  <div class="mob-style" *ngIf="data">
    <!--<h2>Reviews</h2>-->
    <div *ngFor="let review of data.reviews">
      <h3>Review for {{ review.product }}</h3>
      <p>{{ review.review }}</p>
      <p>Price: {{ review.price }}</p>
      <p>Rating: {{ review.rating }}/5</p>
    </div>
    <p>More detail are available in this link: <a href="https://www.apple.com/iphone/compare/?modelList=iphone-12-mini,iphone-15-pro,iphone-15" target="_blank">iPhone Comparesion</a></p> 
  </div>   
  
  </div>

  <!--
  <div>
    2. Samsung
  </div>
  <div>
    3. Google Pixel
  </div>
  <div>
    4. Motorola
  </div>
  <div>
    5. Oppo
  </div>
  <div>
    6. Vivo
  </div>
  <div>
    7. OnePlus
  </div>
</section>

  -->

<footer>
    <p class="author">
        Created on 2022 by Chet Bhandari. 
    </p>
      <div class="about-us">
          <a href=""> About Us </a>
          <a href=""> Link With US </a>
          <a href="">New Portal</a>
      </div>
    <div class="find-me">
       <ul >
         <li>Facebook</li>
         <li>Twitter</li>
         <li>Instagram</li>
       </ul>
    </div>
</footer>
