
<header>
 <p>Find The Affrodable Price Mobile Under Your Budget.</p>
 <div  class="moving-img">
    <img src="./assets/promax13.jpg" alt="promax13">
    <img src="./assets/smgalaxys20.jpg" alt="samsung-galaxy">
    <img src="./assets/iphone7.jpg" alt="iphone7">
    <img src="./assets/pixel7a.jpg" alt="iphone7">
    <img src="./assets/motoe6.jpg" alt="iphone7">
 </div>

</header>

<nav>
<ul>
    <li><a href="">Iphone</a></li>
    <li><a href="">Samsung</a></li>
    <li><a href="">Pixel</a></li>
    <li><a href="">Motorola</a></li>
</ul>
</nav>
<h3>Trending New Release</h3>

<section>
    <div class="trending">

        <div class="trend">
            <img src="./assets/iphone15pro.jpg" alt="Iphone15-pro">
        </div>
            <div class="trend-content">
                <span class="price">Starting price <span style="background-color: yellow;">$999 for 125GB</span> memory and 6GB RAM. <br>The device is available in four different color.</span>
                <ul>
                    <li>
                        6.7″ or 6.1″ Super Retina XDR displayfootnote, ProMotion technology, Always-On display
                    </li>
                    <li>
                        A17 Pro chip with 6-core GPU
                    </li>
                    <li>
                        Pro camera system - 48MP Main | Ultra Wide | Telephoto Super-high-resolution photos (24MP and 48MP) Next-generation portraits with Focus and Depth Control
                    </li>
                    <li>
                        Up to 10x optical zoom range
                    </li>
                    <li>
                        Emergency SOS via satellitefootnote, Crash Detectionfootnote, Roadside Assistance via satellitefootnote³
                    </li>
                    <li>
                        Battery life: Up to 29 hours video playbackfootnote⁵
                    </li>
                    <li>
                        USB-C Supports USB 3 for up to 20x faster transfersfootnote⁷
                    </li>
                    <li>
                        Face ID
                    </li>
                </ul> 
        
        </div>
        <!--
  <div class="color-img">
            <img src="./assets/iphonecolor.jpg" alt="iphone15 color">
        </div>
        -->
      
       
    </div>

    <div class="trending">

        <div class="trend">
            <img src="./assets/promax15.jpg" alt="Iphone-15">
        </div>
            <div class="trend-content">
                The price is starting from $999 for 125GB memory and 6GB RAM. The device is available in four different color.           
        </div>
       
    </div>

    <div class="trending">

        <div class="trend">
            <img src="./assets/iphone15.jpg" alt="Iphone-15">
        </div>
            <div class="trend-content">
                The price is starting from $999 for 125GB memory and 6GB RAM. The device is available in three different color 
                <ul>
                    <li>
                        6.7″ or 6.1″ Super Retina XDR displayfootnote, ProMotion technology, Always-On display
                    </li>
                    <li>
                        A17 Pro chip with 6-core GPU
                    </li>
                    <li>
                        Pro camera system - 48MP Main | Ultra Wide | Telephoto Super-high-resolution photos (24MP and 48MP) Next-generation portraits with Focus and Depth Control
                    </li>
                    <li>
                        Up to 10x optical zoom range
                    </li>
                    <li>
                        Emergency SOS via satellitefootnote, Crash Detectionfootnote, Roadside Assistance via satellitefootnote³
                    </li>
                    <li>
                        Battery life: Up to 29 hours video playbackfootnote⁵
                    </li>
                    <li>
                        USB-C Supports USB 3 for up to 20x faster transfersfootnote⁷
                    </li>
                    <li>
                        Face ID
                    </li>
                </ul> 
        </div>
       
    </div>
</section>
<footer>

</footer>
