
<header>
 <p>Find The Affrodable Price Mobile Under Your Budget.</p>
 <div  class="moving-img">
    <img src="./assets/promax13.jpg" alt="promax13">
    <img src="./assets/smgalaxys20.jpg" alt="samsung-galaxy">
    <img src="./assets/iphone7.jpg" alt="iphone7">
    <img src="./assets/pixel7a.jpg" alt="iphone7">
    <img src="./assets/motoe6.jpg" alt="iphone7">
 </div>

</header>

<nav>
<ul>
    <li><a href="">Iphone</a></li>
    <li><a href="">Samsung</a></li>
    <li><a href="">Pixel</a></li>
    <li><a href="">Motorola</a></li>
</ul>
</nav>
<section>

</section>
<footer>

</footer>
